@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --color-panel: #1b2224;
  --color-border-primary: #2e3436;
}

#desktop {
  background-image: url("./assets/background.jpg");
  background-size: cover;
}
